<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body style="text-align: center;">
        <a href="/logout">
            <button style="border-radius: 10px; background-color:rgba(238,91,123,0.5); height: 2.5rem; font-size:1.2rem">
                logout
            </button>
        </a>
        <h1><%=username%> successfully signedin through google account!</h1>
    </body>
</html>