
:root {
    --white: #fffaeb;
    --black: #211e12;
    --accent: #ff5b62;
    --dark: #ffc224;
    --mid: #fdd741;
    --light: #ffef66;
    --tan: #ebcd8c;
}

header {
    background-color: var(--light);
    margin: 0px;
    padding: 1px 15px;
}

footer {
    background-color: var(--light);
    margin: 0px;
    padding: 50px 25px;
}

body {
    background-color: var(--white);
    margin: 0px;
}



h1 {
    color: var(--black);
    font-family: 'Cookie', cursive;
    font-size: 40px;
    padding: 0px;
}

h2 {
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-family: 'Roboto Serif', serif;
    
}

p {
    color: var(--black);
    font-family: 'Roboto Flex', sans-serif;
    line-height: 1.5;
}

.title {
    margin-left: 10px;
}

.signup-desc {
    width: 40%
}



/*
font-family: 'Roboto', sans-serif;
*/